{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/base.css' %}">
{% endblock %}

{% block main %}
<br>
<div class="container">
    <div class="form-container">
        <h2>INICIAR SESION</h2>

        {% if form.errors %}
        <p class="error">Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>No tienes acceso a esta página con tu cuenta actual. Por favor, inicia sesión con una cuenta que tenga acceso.</p>
            {% else %}
            <p>Por favor, inicia sesión para ver esta página.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit">LOGIN</button>
        <input type="hidden" name="next" value="{{ next }}">
        </form>
        <br>    
        <p><a href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
    </div>
</div>
{% endblock %}
