{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Alta vendedor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/alta_vendedor.css' %}">
{% endblock %}

{% block main %}
<div class="form-alta_vendedor">
    <h2>Alta de Vendedor Nuevo</h2>
    <form method="POST" action="{% url 'alta_vendedor' %}">
        {% csrf_token %}
        {{ formulario.as_p }}
        <br>
        <input type="submit" value="Alta Vendedor">
    </form>
</div>
{% endblock %}
