<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEGNOLOGY-{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="base.css">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <header>
        <h1>TEGNOLOGY</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'listado_productos' %}">Productos</a></li>
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <p>Codo a Codo - Grupo 9 - Todos los derechos reservados.</p>
    </footer>

</body>
</html>
