{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOLOGY-{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/styles/base.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <header>
        <img src="{% static 'web/img/logo1.PNG' %}" alt="tienda de informatica" class="img-logo">
        <div class="texto-header">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'listado_productos' %}">Productos</a></li>
                    <li><a href="{% url 'alta_productos' %}">Alta de productos</a></li>
                </ul>
            </nav>
        </div>

        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
    </header>
   

    <main>
        <h1 class="alineado_medio">TECHNOLOGY</h1>

        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="footer">
            <p class="texto-footer">Codo a Codo / Grupo 9 / Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>
