{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOLOGY-{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/styles/base.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'web/img/logo1.PNG' %}" alt="tienda de informatica" class="img-logo"></a>
        
        <div class="texto-header">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                    {% if user.is_authenticated %} <li><a href="{% url 'listado_productos' %}"><i class="fas fa-box"></i> <span>Productos</span></a></li>{% endif %}
                    {% if perms.web.add_producto %}<li><a href="{% url 'alta_productos' %}"><i class="fas fa-plus"></i> <span>Alta de productos</span></a></li>{% endif %}
                    {% if user.is_authenticated %}<li><a href="{% url 'listado_vendedores' %}"><i class="fas fa-users"></i> <span>Listado de vendedores</span></a></li>{% endif %}
                    {% if perms.web.add_vendedor %}<li><a href="{% url 'alta_vendedor' %}"><i class="fas fa-user-plus"></i> <span>Alta de vendedores</span></a></li>{% endif %}
                </ul>
            </nav>
            <div class="login-logout">
                {% if not user.is_authenticated %}<a class="login" href="{% url 'login' %}">INICIAR SESION</a>{% endif %}
                {% if user.is_authenticated %}<a class="logout" href="{% url 'logout' %}">CERRAR SESION</a>{% endif %}
            </div>
        </div>
    </header>

    <main>
        <h1 class="alineado_medio">TECHNOLOGY</h1>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="footer">
            <p class="texto-footer">Codo a Codo / Grupo 9 / Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="{% static 'web/scripts.js' %}"></script>
</body>
</html>
