
{% extends "web\base.html" %}
{% load static%}

{% block titulo %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/index.css' %}">
{% endblock %}

{% block main %}
<br>
<br>
<div class="contenedor_txt_y_fot">
    <div class="text-center">
        {% if user.is_authenticated %}
        <h2>¡Hola, {{ user.username }}!</h2>
        {% endif %}
        <p> Nos complace darte la bienvenida a nuestro sitio web. En nuestra tienda, nos
            dedicamos a ofrecerte lo mejor en productos y servicios de informática.
            Desde los últimos dispositivos tecnológicos hasta el soporte técnico más
            confiable, estamos aquí para ayudarte a encontrar justo lo que necesitas.
            Explora nuestras categorías, descubre nuestras ofertas especiales y no dudes
            en ponerte en contacto con nosotros para cualquier consulta. ¡Gracias por
            visitarnos y esperamos poder servirte pronto!
        </p>
    </div>
    <div class="foto">
        <img src="{% static 'web/img/PERSONA.png' %}" alt="tienda de informatica"class="img-small">
    </div>

</div>

<br>
<br>
<p class="alineado_medio">{{ fecha_hora }}</p>
<br>
<br>

{% endblock %}
