<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Tegnologia</title>
</head>
<body>
    <header>
    <h1>Bienvenidos a la Tienda de Tegnologia</h1>
        <nav>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'listado_productos' %}">Productos</a></li>
        </nav>
    </header>
    <main>
        <p>Bienvenid@s {{ nombre }}</p>
    </main>
    <footer>
        <p>{{fecha_hora}}</p>
    </footer>
</body>
</html>