{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Productos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/products.css' %}">
{% endblock %}

{% block main %}
    <h2>Productos Disponibles</h2>
    <div class="product-list">
        {% for producto in productos %}
            <div class="product-card">
                <img src="{% static producto.imagen_url %}" alt="{{ producto.nombre }}" class="product-image">
                <div class="product-info">
                    <h3>{{ producto.nombre }}</h3>
                    <p>{{ producto.descripcion }}</p>
                    <span class="product-price">${{ producto.precio }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
