{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Productos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/listado_productos.css' %}">
{% endblock %}

{% block main %}
    <h2>Productos Disponibles</h2>
    <div class="product-list">
        {% for producto in productos %}
            <div class="product-card">
                <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre_producto }}"class="product-image">
               
                <div>

                    <h3 id="product-info">{{ producto.nombre_producto }}</h3>
                    <p>{{ producto.descripcion }}</p>
                    <span id="product-price">${{ producto.precio }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
