* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald'
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E0E0E0; 
}

main {
    flex: 1;
    text-align: center;
    padding: 20px;
}
/*-----------------TITULO (Y FECHA Y HORA) INICIO-------------------------------- */
.alineado_medio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px 25%;
    color: #e8aa8c; 
    background-color: #5e616a; 
    border: solid 2px #B0B0B0; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.alineado_medio:hover {
    background-color: #e8aa8c; 
    color: #5e616a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
/*--------------------TITULO (Y FECHA Y HORA) FIN-------------------------------------*/
/*-------HEADER INICIO-----------------*/
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 1px 20px;
    background-color: #e8aa8c;
}
.login-logout{
    
    display: flex;
    justify-content: end;
}
 header .login-logout a{
    text-decoration: none;
    padding: 1px 5px;
    background-color: #a6fe68;
color: #5e616a;
border: none;
border-radius: 5px;

}
header .login-logout .logout{
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px;
    background-color: #ff0000;
color: #5e616a;
border: none;

}
.login-logout a:hover {
    color: white;
}

.img-logo {
    
    width: 30%;
}
.img-logo:hover {
    transform: scale(1.2);
}

/*--------HEADER FIN------------------*/

/*--------FOOTER INICIO---------------*/
footer {
background-color: #5e616a; /* gris */
padding: 15px;
text-align: center;
}

.texto-footer {
text-align: center;
color: #e8aa8c;
}
/*---------FOOTER FIN-----------------*/


/*----------BARRA NAVEGACION INICIO--------------*/
nav {
    background-color: #e8aa8c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #5e616a;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    transition: color 0.3s ease, border-top-color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}
.message{
    background-color: rgb(194, 255, 186);
    position: fixed;
    top: 25px;
    right: 35px;
    list-style: none;
    border-radius: 15px;
    font-size: medium;
    padding: 5PX;
}