* {
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E0E0E0; 
}

main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

/*-----------------TITULO (Y FECHA Y HORA) INICIO-------------------------------- */
.alineado_medio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px 25%;
    color: #e8aa8c; 
    background-color: #5e616a; 
    border: solid 2px #B0B0B0; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
}


.alineado_medio:hover {
    background-color: #e8aa8c; 
    color: #5e616a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
/*--------------------TITULO (Y FECHA Y HORA) FIN-------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
   align-content: center;
}

.form-container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #5e616a;
   }



.error {
    color: red;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #5e616a;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #e8aa8c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d18c7e;
}

a {
    color: #5e616a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*-------HEADER INICIO-----------------*/
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 1px 20px;
    background-color: #e8aa8c;
    border-radius: 20px;
}

.texto-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    background-color: #e8aa8c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #5e616a;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    transition: color 0.3s ease, border-top-color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

.login-logout {
    display: flex;
    gap: 50px;
    background-color: rgb(131, 163, 215);
    border-radius: 15px;
}

.login-logout a {
    text-decoration: none;
    padding: 1px 50px;
    background-color: #a6fe68;
    color: #5e616a;
    border: none;
    border-radius: 5px;
    background-color: rgb(131, 163, 215);
}

.login-logout .logout {
    background-color: #FFF;
}

.login-logout a:hover {
    color: white;
}

.img-logo {
    width: 30%;
}

.img-logo:hover {
    transform: scale(1.2);
}

/*--------HEADER FIN------------------*/

/*--------FOOTER INICIO---------------*/
footer {
    background-color: #5e616a; /* gris */
    padding: 15px;
    text-align: center;
}

.texto-footer {
    text-align: center;
    color: #e8aa8c;
}
/*---------FOOTER FIN-----------------*/
