/*------------TEXTO INDEX INICIO------------*/
.contenedor_txt_y_fot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFACD; 
    box-shadow: 0px 0px 15px 0.5px ;
    border-radius: 5px;
    padding: 38px;
}
.img-small {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 500px; /* Ajusta el tamaño máximo según tus necesidades */
    margin: 0 35px;
    height: auto;
    border-radius: 10px; /* Opcional: para redondear las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: para añadir sombra */
    transition: transform 0.3s ease; /* Opcional: para efecto de transición */
}

.img-small:hover {
    transform: scale(1.05); /* Opcional: para efecto hover */
    box-shadow:  6px 10px #e8aa8c;
}

.text-center {
    flex: 1;
    text-align: center;
    margin: 0 25px;
    max-width: 500px; /* Ancho máximo para evitar estiramiento */
   
    font-size: 20px; /* Aumentar tamaño de la fuente */
    line-height: 1.5; /* Mejorar legibilidad */
    padding: 15px; /* Espaciado interno */
    color: #5e616a; /* Color de texto */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/*------------TEXTO INDEX FIN-----------------*/