/* products.css */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #e8aa8c; 
    color: #5e616a;
    border: 1px solid #5e616a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #5e616a; 
    color: #e8aa8c;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 14px;
    color: #5e616a;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    color: #5e616a;
    font-weight: bold;
}

