/* password_reset.css */
.password-reset-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.password-reset-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5e616a;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-submit {
    background-color: #e8aa8c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #d68c6c;
}

.message {
    background-color: rgb(194, 255, 186);
    list-style: none;
    border-radius: 15px;
    font-size: medium;
    padding: 5px;
    margin-top: 20px;
}
